*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(/assets/image/portfolio\ pic.webp) no-repeat center center fixed;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.35);
    color: grey;
}

header {
    margin: 20px;
    padding: 30px;
     
}

header h1 img {
    height: 100px;
    width: 100px;
}

header nav ul {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li a {
    padding: 50px;
    color: grey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 7%;
    opacity: 0.9;
}


.contact {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.info
.info ul li {
    font-size: 22px;
    display: flex;
    border-left: 5px solid silver;
    list-style: none;
}

.info ul li a {
    padding: 40px;
    
}
footer {
    display: flex;
    justify-content: center;
    padding: 40px 80px;
    background-color: rgba(255, 255, 255, 0.35);
}

