*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 30px;
    padding: 40px;
    background-color: rgba(60, 60, 59, 0.15);
    color: grey;
}

img {
    height: 130px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

header nav {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
}
header a {
    text-decoration: none;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;   
    list-style: none;
}

header nav ul li a {
    padding: 0 40px;
    font-size: 40px;
    color: grey;
}

header nav ul li a:hover {
    background-color: rgb(42, 41, 41);
    color: rgb(236, 236, 140);
    border-radius: 15px;
}

footer {
    text-align: center;
}

footer img {
    height: 100px;
    padding: 30px 0;
}


.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-img img {
    height: 400px;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(212, 204, 79, 0.8);
    border-radius: 50px;
}

.hero-bio h1 {
    font-size: 60px;
    font-style: italic;
    
}
.hero-bio {
    width: 45%;
    text-align: center;
    margin: 3.5%;
    font-size: 20px;
    line-height: 2;
}
.title {
  overflow: hidden;
  text-align: center;
  font-size: 50px;
  margin: 20px;
  font-style: italic;
}

.title:before,
.title:after {
  background-color: rgb(255, 255, 34);;
  content: "";
  display: inline-block;
  height: 5px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}

.title:before {
  right: 0.5em;
  margin-left: -50%;
}

.title:after {
  left: 0.5em;
  margin-right: -50%;
}

.info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0px;
}

.info ul li {
    list-style: none;
   
}

.info ul li a{
    text-decoration: none;
    color: grey;
}

.info ul img {
    height: 40px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project1 {
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(212, 204, 79, 0.8);
    border-radius: 20px;
    opacity: 0.4;
}

.project1:hover {
    opacity: 1.0;
}

.project1 img {
    width: 100%;
    border-radius: 20px 20px 5px 5px;
}

.project1 a {
    color: grey;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px){

    header {
        justify-content: center;
    }

    
    header nav ul li a {
        font-size: 25px;
    }

    img {
        height: 100px;
    }

    .hero-img img {
        height: 300px
    }

    .hero-bio h1 {
        font-size: 40px;
    }

    
    .hero-bio p {
        font-size: 18px;
    }

    .title {
        font-size: 30px;
    }
    section {
        padding: 30px 15px;
    }
        
}




/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}



