*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(/assets/image/portfolio\ pic.webp) no-repeat center center fixed;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.35);
}

header {
    margin: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

